<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sortnum" method="POST">
        <label>Input a number
            <Input type="text" name="inputedNum" value="<%= inputedNum %>"/>
        </label>
        <button type="submit">Submit</button>
        <span><%= warning %></span>
    </form>
    <span><div>Sorted Array:</div><div><%= sortedArray %></div></span>
</body>
</html>